<!DOCTYPE html>
<html>
<head>
	<!-- Head -->
	<%- include('../partials/head.ejs') %>
	<title>Shopping Cart | Edit Category</title>
</head>
<body>
	<!-- Admin Navbar -->
	<%- include('../partials/adminNavBar.ejs') %> 
	
	<div class="container">
		<h2 class="page-title">Edit Page</h2>
		<a href="/admin/categories" class="btn btn-secondary">All Categories</a>
		<br><br>

		<!-- Add Page Form -->
		<form action="/admin/categories/edit-category/<%= id %>" method="post">
			<div class="form-group">
				<input class="form-control" type="text" name="title" value="<%= title %>" placeholder="Title">
			</div>
			<!-- Submit Button -->
			<button type="submit" class="btn btn-primary">Update</button>
		</form>
	</div>

	<!-- Footer -->
    <%- include('../partials/footer.ejs') %>

</body>
</html>