<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Shopping Cart</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="nav navbar-nav">
        <% pages.forEach(function(page) { %>
          <% if (page.slug == 'home') { %>
            <li class="nav-item"><a class="nav-link" href="/"><%= page.title %></a></li>
          <% } else { %>
            <li class="nav-item"><a class="nav-link" href="/<%= page.slug %>"><%= page.title %></a></li>
          <% } %>
        <% });%>
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/cart/checkout">Cart (
            <% if (typeof cart !== "undefined") { %>
              <%= cart.length %>
            <% } else { %>
              0
            <% } %>
          )</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="/users/register">Sign Up</a></li>
        <li class="nav-item"><a class="nav-link" href="/users/login">Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- AJax PayPal -->
<div class="ajaxbg">
  <div class="ajaxinner">
    <h3>You are Now being redirected to Pay Pal</h3>
    <img src="/images/ajax-loader.gif" alt="">
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <h3>Categories</h3>
      <br>
      <ul class="list-group">
        <li class="list-group-item"><a href="/products">All Products</a></li>
          <% categories.forEach(function(c) { %>
            <li class="list-group-item"><a href="/products/<%= c.slug %>"><%= c.title %></a></li>
          <% }); %>
      </ul>
      <br>
    </div>
    <div class="col-xs-12 col-md-1"></div>
    <div class="col-xs-12 col-md-8">
      
   
